body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
.cart-icon img {
    max-height: 30px;
    cursor: pointer;
    float:right;
}
.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.banner {
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px 0;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
}
.img {
    text-align: center;
    padding: 50px;
}

.img div {
    display: inline-block;
    text-align: center;
    margin: 10px;
    max-width: 200px; 
}

.img img {
    max-width: 100px; 
}

.img p {
    margin-top: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .cta-button {
        display: block;
        margin: 10px auto;
    }
}
